<header>
  <nav class="navbar navbar-default navbar-static-top nav-background">
    <div class="container-fluid">
      <a class="navbar-brand nav-brand-color" href="#">Resource-Balancer</a>
      <button
        class="navbar-toggler nav-brand-color"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
      <div class="float-end nav-brand-color">
        <i class="fas fa-question-circle ms-2" title="Help"></i>
        <i class="fab fa-github ms-2" title="Github"></i>
        <small class="ms-2">v1.0</small>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </div>
  </nav>
</header>
